<{%extends base.html %}
{%block content %}
<br>
<br>
<div class="row">
<h4>There are currently {{numEntries}} entries.</h4>
<br>
<form>
Type in a reddit user name to confirm entry:
<br>
<input type = "text" id ="user" placeholder = "user"/> 


<span id ="check"> </span>
</form>
</div>
<script>
var url;
var response;
$('#user').keyup(function () {
        url = "/checkapi?user="+$(this).val();
		
		$.get( url, function( data ) {

		
		if (data ==="True"){
		document.getElementById("check").innerHTML =  $("#user").val() +" is entered.";
		document.getElementById("check").style.color="green";
		}
		else{
		document.getElementById("check").innerHTML =  $("#user").val() +" is not entered.";
		document.getElementById("check").style.color="red";
		}
		});
		});
   
   

</script>
{%end%}  