{%extends base.html %}
{%block content %}
<div class="row">
<div class = "small-12 columns"><h3>Top Donors</h3></div>
</div>

<div class="row">
<h4>
<div class = "small-5 columns"> Donor </div>
<div class = "small-4 columns end" style="text-align:right;"> Amount </div>
</h4>

</div>
<br>
{% if len(donors) > 10%}
{% for i in range(10)%}
<div class="row">

<div class = "small-5 columns">
{% if donors[i].donor[0] =="/" %} 
 {{donors[i].donor[3:]}} 
 {% else %}
 {{donors[i].donor}}
 {%end%}

 </div>
<div class = "small-4 columns end" style="text-align:right;"> {{"{:,.2f}".format(donors[i].amount)}} </div>

</div>
{%end%}
{%else%}
{% for tip in donors%}
<div class="row">

<div class = "small-5 columns">
{% if "/" in tip.donor %} 
 {{tip.donor[3:]}} 
 {% else %}
 {{tip.donor}}
 {%end%}
 </div>

<div class = "small-4 columns end" style="text-align:right;"> {{"{:,.2f}".format(tip.amount)}} </div>

</div>

{%end%}
{%end%}
{%end%}