{%extends base.html %}
{%block content %}
<br>

<div class = "row">
<div class = "small-12 columns"> Balance: {{"{:,.2f}".format(balance)}} Ð</div>
</div>
<br>
<div class = "row">
<div class = "small-12 columns"> DogeGiftBot needs {{"{:,.2f}".format(cost-balance)}} Ð for the next winner</div>
</div>
<br>
<div class = "row">
<div class = "small-12 columns"> Total all time donations: {{"{:,.2f}".format(total)}} Ð</div>
</div>
<br>
<div class = "row">
<div class = "small-12 columns"> Donations from the last {{window}} days</div>
</div>
<br>
<h4>
<div class="row">
<div class = "small-6 large-3 columns"> Donor </div>
<div class = "small-3 large-2 columns" style = "text-align:right;"> Amount </div>
<div class = "small-3 large-2 columns end"> Date </div>
</h4>
</div>

{% for tip in tips%}
<div class="row">

<div class = "small-6 large-3 columns">
{% if "/" in tip.donor %} 
 {{tip.donor[3:]}} 
 {% else %}
 {{tip.donor}}
 {%end%}
 </div>
<div class = "small-3 large-2 columns" style = "text-align:right;"> {{"{:,.2f}".format(tip.amount)}} </div>
<div class = "small-3 large-2 columns end"> {{tip.date[5:]}} </div>
</div>
{%end%}
{%end%}