{%extends base.html %}
{%block content %}
<div class = "row">
<div class="small-12 columns">
<h3>DogeGiftBot.com gives you access to DogeGiftBot statistics as they happen!</h3>

<p>Absolutely free to enter for a chance to with a $25 gift card from www.Egifter.com! You will remain in giveaway until you win or opt-out. 
Make sure you are signed into your reddit account and then <a href="http://www.reddit.com/message/compose?to=dogegiftbot&subject=entry&message=%2Bentry"> click here and press send. </a></p>


<h4>Donations</h4>
<p>This bot is powered by generosity. If you would like to help bring happiness to shibes in the doge coin community, then please support DogeGiftBot. 
You can tip via /u/dogetipbot. Or, send coins from your wallet straight to the doge coin address of DogeGiftBot.</p>

<p>+/u/dogetipbot @dogegiftbot AMOUNT doge verify

<p>+/u/dogetipbot @D8vVxYMKkmUKRpmG82Z6FCfwZWC4rgVT5w AMOUNT doge verify</p>

<p>D8vVxYMKkmUKRpmG82Z6FCfwZWC4rgVT5w    *Donations sent directly to DogeGiftBot wallet address will show up as anonymous.</p>

<h4>DogeGiftBot Wiki</h4>
<p><a href="http://www.reddit.com/r/dogegiftbot/wiki/index"> Click here for DogeGiftBot Wiki </a></p>

<h4>DogeGiftBot Hosting Provided By</h4>
<p>DogeGiftBot Hosting is provided by <a href="https://nanobit.pl/"> nanobit.pl </a> and is ran by dogecoin community member
 <a href="http://www.reddit.com/u/deltadevil360">/u/deltadevil360</a>. They offer very affordable VPS hosting and also accept doge coin. Please show your support and check out their services!
</p>
<h4>Open Source</h4>
<p><a href="https://github.com/bigdred777/dogegiftbot">Click here for DogeGiftBot Github page.</a>
</p>

<h4>Credits<h4>
<p>Concept by /u/bigdred777 and /u/TheLobstrosity.</p>
<p>Bot version 1.0 programmed by /u/PieMan2201 and http://bots4doge.com/</p>
<p>Bot version 1.1. upgrade and DogeGiftBot.com programmed by /u/Doomhammer458.</p>

</div>
</div>
 {%end%}
