{%extends base.html %}

{%block content %}

<br>
<br>
<div class="row">
<div class = "small-12 columns">There has been {{len(winners)}} winners. </div>

</div>
<br>
<div class="row">
<div class = "small-6 columns"> Redditor </div>
<div class = "small-3 columns"> Prize </div>
<div class = "small-3 columns"> Date </div>

</div>
{% for win in winners%}
<div class="row">
<div class = "small-6 columns"> {{win.winner}} </div>
<div class = "small-3 columns"> {{win.prize}} </div>
<div class = "small-3 columns">{{fromTStamp(win.date).month}}-{{fromTStamp(win.date).day}} </div>
</div>
{%end%}

{%end%}
